body {
	text-align: center;
	background-color: #01aebf;
	color: black;

}
h1	{
	font-size:40px;
	font-style: Helvetica, serif;

}
h2	{
	font-size:24px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: underline;
	width:50%;
	margin-right:auto;
	margin-left:50%;
}
h3 {
	margin-left: 40px;
	margin-right:800px;
	margin-top:20px;
	padding:15px;
	max-width: 300px;
}
#meet	{
	font-size: 250%;
background-color: yellow;
width: 40%;
line-height: 2em;
margin-left: 40px;
text-align: center;
padding: 3%;
}
#slogan1	{
	font-size:22px;
	width:400px;
	margin-top: -40px;
	line-height: 1.5em;
	border-right: 2px solid;
	border-left:2px solid;
	padding:10px;
}

ol {

	line-height:1.5em;
	list-style-position:outside;
	background-color:yellow;
	width:20%;
	margin-right:100%;
	margin-left:60%;
	margin-bottom:100%;
	margin-top:-24%;
	font-size:20px;
	font-style:italic;
	font-weight:normal;
}


.abe 	{
	
	}

ul	{
	list-style-position:inside;
	font-size:30px;
	font-weight: bold;
	font-style:normal;
	text-transform: uppercase;
	border-width: thick, black;
	width:50%;
	margin-left:230%;
	margin-top:-30%;
	padding:40%;
	line-height: 200%;
	text-decoration: underline;
}


a[href="mailto:feteezuk@gmail.com"] {
	color:blue;
	text-align: justify;
	position: relative;
	left: 20px;
}
	